.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.navbar-button {
    flex-grow: 1; 
    flex-shrink: 1;
    padding: 10px 14px;
    border: 1px solid #406AAF;
    border-radius: 8px;
    background: #427AB5;
    color: #fff
}

.navbar-button.active {
    background: #2C344C;
    color: #B4C9EA;
    border-color: #2C344C;
}

.grid-3 {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
}

.section-block {
    display: grid;
    gap: 16px;
}

.actions-row {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
}